.App {
  font-family: sans-serif;
  padding: 1.5rem;
}

.nav-active {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: row;
}

header {
  text-align: center;
  border-bottom: 4px solid gray;
}

footer {
  text-align:center;
}

nav {
  flex: 1;
  border-right: 4px solid gray;
}

nav a {
  text-decoration:none;
  color:black;
}

nav a:hover {
  background:gray;
}

nav ul {
  list-style-type: none;
}

article {
  flex: 5;
  padding:1.5rem;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.0em;
}
